{% extends "base.html" %}

{% block content %}
<main class="content" style="background-color: white; text-align: justify; margin: 5% 2.5% 10% 2.5%; padding: 1.25% 2.5%; border-radius: 5px;
    box-shadow: 2px 4px 53px -13px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 4px 53px -13px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 4px 53px -13px rgba(255, 255, 255, 0.75);">
    <h1>Galeria de artes</h1>
    <h5>Em resumo, o nosso trabalho é uma galeria de artes funcional, ligada à IA (inteligência artificial) DALL-E
        2.Nessa aplicação, o usuário pode adicionar um user, logar, e criar obras com uma simples frase, que será
        entendida pela IA e transformada em arte.
    </h3><br>

    <h2>Equipe</h1>
    <ul>
        <li><h4>Raynara Lima</h3></li>
        <li><h4>José Gabriel</h3></li>
        <li><h4>Gustavo Lopes</h3></li>
        <li><h4>Cauã Roberto</h3></li>
                        
    </ul>
</main>
{% endblock%}